# django settings for development environment
DATABASE_URL=minitehnicus
SECRET_KEY=minitehnicus
SUPABASE_URL=minitehnicus
SUPABASE_SERVICE_ROLE_KEY=minitehnicus

# google oauth settings
GOOGLE_CLIENT_ID=minitehnicus
GOOGLE_CLIENT_SECRET=minitehnicus

# dev settings
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://127.0.1:5173,http://127.0.1:5174
CORS_ALLOW_CREDENTIALS=True

# CSRF
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://localhost:5174,http://127.0.1:5173,http://127.0.1:5174

# cookies settings
SESSION_COOKIE_SAMESITE=None
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SAMESITE=None
CSRF_COOKIE_SECURE=True

# Upstash Redis
UPSTASH_REDIS_REST_URL=minitehnicus
UPSTASH_REDIS_REST_TOKEN=minitehnicus

